    <!-- <div class="searchBar-holder">
             -->

            <mat-form-field>
                <form [formGroup]="searchForm">
                    <input  matInput formControlName="search" 
                    type="text" placeholder="Search for a country...">
                    
                    <span>
                        <mat-icon class="material-icons-outlined">search</mat-icon>
                    </span>
                </form>
            </mat-form-field>

    <!-- </div> -->

    <!-- <mat-card class="searchBar-holder">
        <mat-form-field>
        <input  matInput type="text" placeholder="Search for a country...">
        <span>
            <mat-icon class="material-icons-outlined">search</mat-icon>
        </span>
    </mat-form-field>
    </mat-card> -->
